<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Socomd Panel</title>
</head>
<body>
  <div id="app">
    <div class="header">
      <img src="http://www.socomd.com/img/socomd-header.png" alt="Vue logo"><p class="wonky">Panel</p>
    </div>
    <div class="content">
      <div>
        Modset:<br><select v-model="mods" :required=true class="list">
          <option v-for="(value, name) in modsets" :key="name" :value="value">
          {{name}}
          </option>
        </select>
        <br><br>
        Extras:<br><select multiple v-model="selectedExtras" size="32" class="list">
          <option v-for="(value, name) in extras" :key="name" :value="value">
            {{name}}
          </option>
        </select>
        <br>
        <input type="checkbox" name="logging" value="enablelogs" disabled>Enable Logs</input>
      </div>
	  <br>
	  <div>
        <li v-for="server in servers">
          <span>{{server.name}}</span>
          <button v-on:click="start(server.name, mods,selectedExtras)">
            Start
          </button>
          <button v-on:click="stop(server.name)">
            Stop
          </button>
        </li>
      </div>
    </div>
  </div>

  <style>
    html, body {
      margin: 0px;
      height: 100%;
      width: 100%;
    }
    .header {
      grid-area: header;
      display: flex;
      justify-content: center;
      background: #2F2F2F;
	  color: #F2F2F2;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .content {
      padding-top: 10px;
      grid-area: Content;
    }
    .wonky {
      transform: rotate(10deg); /* gotta make it have some flair till it's done properly */
    }
	.list {
	  background: #2F2F2F;
	  color: #F2F2F2;
	}
    #app {
      display: grid;
      height: 100%;
      grid-template-rows: 80px auto;
      grid-template-columns: auto 980px auto; 
      grid-template-areas: "header header header" ". Content .";
	  background: #2F2F2F;
	  color: #F2F2F2;
    }   
  </style>

  <script>
    var app = new Vue({
      created: function() {
        this.mods = this.modsets['normal'];
      },
      el: '#app',
      data: {
        servers: [{'name':'Primary'},{'name':'Secondary'}],
        selectedExtras: [],
        modsets: {
          'normal':
          [
            '-mod=mods/SOCOMD_Core/@ace3',
            '-mod=mods/SOCOMD_Core/@acex',
            '-mod=mods/SOCOMD_Core/@cba_a3',
            '-mod=mods/SOCOMD_Core/@cup_terrains_core',
            '-mod=mods/SOCOMD_Core/@cup_terrains_maps',
            '-mod=mods/SOCOMD_Core/@cup_units',
            '-mod=mods/SOCOMD_Core/@cup_vehicles',
            '-mod=mods/SOCOMD_Core/@cup_weapons',
            '-mod=mods/SOCOMD_Core/@helpers',
            '-mod=mods/SOCOMD_Core/@interface',
            '-mod=mods/SOCOMD_Core/@socomd_core',
            '-mod=mods/SOCOMD_Core/@socomd_content',
            '-mod=mods/SOCOMD_Core/@acre2',
            '-mod=mods/SOCOMD_Core/@wearables',
            '-mod=mods/SOCOMD_Core/@weapons',
            '-mod=mods/SOCOMD_Core/@sma',
            '-mod=mods/SOCOMD_Core/@uniforms',
            '-mod=mods/SOCOMD_Core/@em',
            '-mod=mods/SOCOMD_Core/@vcomai3',
            '-mod=mods/SOCOMD_Core/@mbg',
            '-mod=mods/SOCOMD_Core/@melb',
            '-mod=mods/SOCOMD_Core/@vet_unflipping',
          ]
        },
        mods: [],
        extras: {
          'none': '',
          '@abramia': '-mod=mods/SOCOMD_Extra/@abramia',
          '@aliabad-region': '-mod=mods/SOCOMD_Extra/@aliabad-region',
          '@anizay': '-mod=mods/SOCOMD_Extra/@anizay',
          '@beketov': '-mod=mods/SOCOMD_Extra/@beketov',
          '@celle': '-mod=mods/SOCOMD_Extra/@celle',
          '@cla_clafghan': '-mod=mods/SOCOMD_Extra/@cla_clafghan',
          '@diyala': '-mod=mods/SOCOMD_Extra/@diyala',
          '@fallujah': '-mod=mods/SOCOMD_Extra/@fallujah',
          '@fata_a3': '-mod=mods/SOCOMD_Extra/@fata_a3',
          '@fsf_al_rayak': '-mod=mods/SOCOMD_Extra/@fsf_al_rayak',
          '@ihantala': '-mod=mods/SOCOMD_Extra/@ihantala',
          '@isladuala_a3': '-mod=mods/SOCOMD_Extra/@isladuala_a3',
          '@mcn_hazarkot': '-mod=mods/SOCOMD_Extra/@mcn_hazarkot',
          '@panthera_a3': '-mod=mods/SOCOMD_Extra/@panthera_a3',
          '@praa_av': '-mod=mods/SOCOMD_Extra/@praa_av',
          '@prkz': '-mod=mods/SOCOMD_Extra/@prkz',
          '@pulau': '-mod=mods/SOCOMD_Extra/@pulau',
          '@rosche': '-mod=mods/SOCOMD_Extra/@rosche',
          '@ruha': '-mod=mods/SOCOMD_Extra/@ruha',
          '@tem_kurjari': '-mod=mods/SOCOMD_Extra/@tem_kurjari',
          '@tem_suursaariv': '-mod=mods/SOCOMD_Extra/@tem_suursaariv',
          '@tem_vinjesvingen': '-mod=mods/SOCOMD_Extra/@tem_vinjesvingen',
          '@thirsk': '-mod=mods/SOCOMD_Extra/@thirsk',
          '@socomd_hardcore':'-mod=mods/SOCOMD_Extra/@socomd_hardcore'
        }
      },
      methods: {
        start: function(server,modslist,extras) {
          var mods = [...modslist,...extras];
          console.log("Starting",server,mods);
          axios({
            method: 'post',
            url: '/api/arma/start',
            data: {
              'server':server,
              'mods':mods
            }
          }).then(function(response) {
            console.log(response);
            alert(response.statusText);
          })
        },
        stop: function(server) {
          console.log("Stopping",server);
          axios({
            method: 'post',
            url: '/api/arma/stop',
            data: {
              'server': server,
            }
          }).then(function(response) {
            console.log(response);
            alert(response.statusText);
          })
        }
      }
    })
  </script>
</body>
</html>
